:root {
  --dark-gray: #464444;
  --dark-blue: #123449;
}

.homepage {
  color: var(--dark-gray);
    font-family: Arial, sans-serif;
    color: var(--dark-gray);
    /* position: relative; */
}

#HomePageContainer .top-container {
    position: relative;
    margin: 1.1rem;
    background-color: white;
    border-radius: 1.1vw 1.1vw 1.1vw 0;
    overflow: hidden;
    padding-bottom: 2rem;
}

/* Slider Section */
#HomePageContainer .hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("../images/homeBG.png"), linear-gradient(to bottom, #e7f6ff, #e5f2fa);
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center;
    border-radius: 1.1vw;
}

#HomePageContainer .hero-content {
    width: 50%;
    padding: 3vw;
}

#HomePageContainer .hero-content h3 {
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--dark-blue);
    font-weight: lighter;
    padding-bottom: 1rem;
}

#HomePageContainer .hero-content .highlight {
    color: var(--dark-blue);
    font-size: 3.1rem;
    font-weight: 600;
    display: inline-block;
    margin-top: 1rem;
    
}
#HomePageContainer .hero-content .cta-button{
    padding: 0.6rem 2.1vw;
    background-color: var(--dark-blue);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 1vw;

}

#HomePageContainer .hero-content p {
    font-size: 1.1rem;
    margin-top: 0.55vh;
    color: var(--dark-gray);
    font-weight: lighter;
    padding-bottom: 0.7rem;
}

#HomePageContainer .hero-image {
    width: 50%;
}

#HomePageContainer .hero-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Collection Section */
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#HomePageContainer .collection-section {
  background-image: url('../images/Intersect.png');
  background-color: var(--dark-blue);
  color: white;
  text-align: center;
  padding: 1.5rem;
  width: 100%;
  margin-top: -4vw;
  position: relative;
  overflow: hidden;
  transform: rotate(-4deg);
}

#HomePageContainer .collection-content {
  animation: fadeUp 3s ease-in-out;
}

#HomePageContainer .collection-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2.2vw;
  width: 5.5vw;
  height: 100%;
  background-color: var(--dark-blue);
  transform: skewX(-20deg);
}

#HomePageContainer .collection-section::after {
  content: "";
  position: absolute;
  top: 0;
  right: -2.2vw;
  width: 5.5vw;
  height: 100%;
  background-color: var(--dark-blue);
  transform: skewX(20deg);
}


#HomePageContainer .collection-icons {
    display: flex;
    justify-content: center;
    gap: 1.1vw;
    margin-top: 0.8vh;
}

#HomePageContainer .collection-icons img {
    width: 4.4vw;
    height: auto;
}


/* About Section */
#HomePageContainer .about-section{
    width: 97%;
    height: auto;
    padding: 0rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
#HomePageContainer .about-content-img{
    width: 40%;
}
#HomePageContainer .about-content-img img{
  width: 100%;
}
#HomePageContainer .about-section-content{
    width: 48%;
    text-align: right;
    
}
#HomePageContainer .about-section-content h2{
 color: var(--dark-blue);
 padding: 1.1rem;
 padding-bottom: 0rem !important;

}
#HomePageContainer .about-section-content p{
    padding: 1.1rem;
    font-size: 0.9rem;
}
/* Lab-Grown Diamond */
#HomePageContainer .diamond-container {
    max-width: 120rem;
    background-image: url("../images/homeBG.png"), linear-gradient(to bottom, #e7f6ff, #e5f2fa);
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center;
    margin: 0 auto;
    padding: 6vh 5vw 5vh 5vw;
    margin: 1.1rem;
    border-radius: 20px;
    margin-top: 0px !important;
}

#HomePageContainer .diamond-title {
    font-size: 2.2rem;
    text-align: center;
    font-weight: 600;
    color: var(--dark-blue);
    margin-bottom: 1.5rem;
}

#HomePageContainer .diamond-subtitle {
    font-size: 1.1rem;
    text-align: center;
    width: 60vw;
    margin: auto;
    color: var(--dark-gray);
    margin-bottom: 3vh;
}

#HomePageContainer .diamond-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
  gap: 1.3vw;
  justify-content: center;
  align-items: stretch;
}

#HomePageContainer .diamond-card {
    background: white;
    padding: 1.3rem;
    border-radius: 15px;
    box-shadow: 0 0.5vw 2vw rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    
    display: flex;
    flex-direction: column; 
    height: 100%; 
}

#HomePageContainer .diamond-card-head{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#HomePageContainer .diamond-img-box {
    width: 3vw;  
    height: 3vw;
    background: rgba(233, 247, 255, 1);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#HomePageContainer .diamond-img-box img {
    width: 70%;
    height:70%;
    object-fit: contain; 
}
#HomePageContainer .diamond-card-head h3{
    padding-left: 1rem;
}
#HomePageContainer .diamond-card:hover {
    transform: scale(1.02);
}



#HomePageContainer .diamond-card-title {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--dark-blue);
}

#HomePageContainer .diamond-card-text {
    font-size: 0.9rem;
    color: var(--dark-gray);
    line-height: 1.1rem;
    margin-top: 1rem;
}


/* Showcase Section */
#HomePageContainer .virtualShowcase-section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#HomePageContainer .virtualShowcase-content-img{
    width: 45%;
}
#HomePageContainer .virtualShowcase-content-img img{
    width: 100%;
}
#HomePageContainer .virtualShowcase-section-content{
    width: 50%;
    padding: 2rem;
    
}
#HomePageContainer .virtualShowcase-section-content h2{
 color: var(--dark-blue);
 padding-bottom: 1rem;
}

#HomePageContainer .virtualShowcase-section-content ul {
    margin-top: 1rem;
    list-style: none;
    padding-left: 0;
}

#HomePageContainer .virtualShowcase-section-content ul li {
    position: relative;
    padding-left: 30px;
    font-size: 1rem;
    line-height: 1.6;
    padding-bottom: 0.3rem;
}

#HomePageContainer .virtualShowcase-section-content ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 20px; 
    height: 20px;
    background-image: url("../images/point.png");
    background-size: contain; 
    background-repeat: no-repeat;
    transform: translateY(-50%);
    padding-bottom: 0.3rem;
}

/* ContactForm Section- */
#HomePageContainer .contact-container {
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 5vw;
  }
  
  #HomePageContainer  .contact-header {
    text-align: center;
    background-image: url("../images/homeBG.png"), linear-gradient(to bottom, #e7f6ff, #e5f2fa);
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center;
    padding: 3vw 2vw  8vw 2vw;
    border-radius: 8px;
  }
  
  #HomePageContainer  .contact-header h3 {
    font-size: 2rem;
    color: var(--dark-blue);
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  #HomePageContainer  .contact-header p {
    font-size: 1rem;
    max-width: 70ch;
    margin: 0 auto;
    color: #555;
  }
 
    #HomePageContainer  .contact-content {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    max-width: 65vw; 
    margin: 2rem auto; 
    padding:1rem;
    background-color: #f9f9f9;
    border-radius: 0.5rem;
    margin-top: -4rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  }
  
  #HomePageContainer  .contact-info {
    flex: 1 1 40%;
    margin-right: 2rem;
    padding: 1.2rem;
    border-radius: 8px;
    background-color: #E9F7FF;
    margin-bottom: 2rem;
  }
  
  #HomePageContainer .contact-info h3 {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
    color: #333;
    font-weight: 600;
    position: relative;
    display: inline-block;
  }
  
  #HomePageContainer .contact-info h3::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 60%;
    height: 2px;
    background-color: var(--dark-blue);
    transition: width 0.3s ease-in-out;
  }
  
  #HomePageContainer  .contact-info p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1rem;
  }
  #HomePageContainer .contact-info p i{
    border-radius: 50px;
    padding: 0.5rem;
    background-color: var(--dark-blue);
    color: #fff;
    margin-right: 0.5rem;
  }
  #HomePageContainer  .contact-info p .fa-location-dot{
    padding: 0.5rem 0.6rem;
  }
  #HomePageContainer .contact-form {
    flex: 1 1 50%; 
    display: flex;
    flex-direction: column;
  }
  
  #HomePageContainer  .input-group {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  #HomePageContainer  .input-group input,
  #HomePageContainer .contact-form input,
  #HomePageContainer .contact-form select,
  #HomePageContainer  .contact-form textarea {
    width: 100%;
    padding: 0.75rem;
    border: none;
    background-color: rgba(70, 68, 68, 0.05);
    border-radius: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  #HomePageContainer  .contact-form textarea {
    height: 8rem;
    resize: vertical;
  }
  
  #HomePageContainer  .contact-form button {
    padding: 0.75rem 1.5rem;
    background-color: var(--dark-blue);
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
 
   
/* Responsive Styling */
@media (max-width: 1012px) {
  #HomePageContainer  .logo img {
    width: 15.3vw;
        padding: 0.5rem;
}
#HomePageContainer .hero-content {
  width: 70%;
        padding: 6vw;
        padding-top: 12vw;
}
#HomePageContainer .hero-content h3{
  /* width: 42%; */
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
#HomePageContainer .hero-content .highlight {
  font-size: 1.8rem;
  margin-top: 0.5rem;

}
#HomePageContainer .contact-info p {
  font-size: 0.9rem;
}
}
@media (max-width: 965px) {
  #HomePageContainer  .about-section-content {
    width: 60%;
  }
}
@media (max-width: 845px) {
  #HomePageContainer  .about-content-img {
    padding-top: 2rem;
}
}

 @media (max-width: 769px) {
  
  #HomePageContainer .about-content-img {
  padding-top: 5rem;
}
#HomePageContainer  .about-section-content {
  width: 58%;
}
#HomePageContainer .diamond-title {
  font-size: 1.8rem;
}
#HomePageContainer .diamond-subtitle {
  width: 68vw;
}
#HomePageContainer .diamond-card {
  padding: 1.2rem;}
  #HomePageContainer .diamond-card-text {
  
  margin-top: 0.5rem;
}
#HomePageContainer .diamond-container{
  padding: 4vh 3vw 3vh 3vw;
}
#HomePageContainer .virtualShowcase-section-content ul li::before {
padding-bottom: 1.1rem;
}

#HomePageContainer .contact-content {
  flex-direction: column-reverse;
  padding: 1rem;
  margin-top: -3.5rem;
}

#HomePageContainer .contact-info {
  margin-right: 0;
        margin-bottom: 0.2rem;
        display: flex;
        margin-top: 1rem;
}
#HomePageContainer .contact-info h3 {
  font-size: 1rem;
}
#HomePageContainer .contact-info-box{
  width: 50%;
}
#HomePageContainer .contact-info p {
  font-size: 0.9rem;
  margin-bottom: 0.8rem;
}

#HomePageContainer .contact-info-box2 p{
  padding-bottom: 0.4rem;
}

#HomePageContainer .input-group {
  gap: 0.5rem;
  margin-bottom: 0rem;
}

#HomePageContainer .contact-form input,
#HomePageContainer .contact-form select,
#HomePageContainer .contact-form textarea {
  font-size: 0.9rem;
}

#HomePageContainer .contact-form button {
  font-size: 0.9rem;
}
#HomePageContainer .contact-header{
  padding: 3vw 2vw  12vw 2vw;
}
#HomePageContainer .contact-header h3 {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}
} 
@media (max-width: 695px) {
  #HomePageContainer  .hero-content {
    padding-top: 14vw;
}
#HomePageContainer .hero-content p{
  font-size: 1rem;
}
#HomePageContainer .hero-content h3 {
  padding-bottom: 0rem;
}
#HomePageContainer .hero-content .highlight {
  font-size: 1.5rem;
}
#HomePageContainer  .virtualShowcase-section-content {
  padding-right: 0;
  }
}

@media (max-width: 645px) {
  #HomePageContainer  .about-section {
    display: flex;
    flex-direction: column-reverse;}
    #HomePageContainer .about-content-img {
  padding-top: unset;
  width: 30vw;
  margin-right: auto;
}
#HomePageContainer .about-section-content {
  width: 90vw;
}
#HomePageContainer .diamond-grid {
 grid-template-columns: repeat(auto-fit, minmax(44vw, 1fr));
}
#HomePageContainer .virtualShowcase-section-content{
  padding-left: 0.5rem;
}
/* contact-form */
#HomePageContainer .contact-container{
  padding: unset;
}
#HomePageContainer .contact-content {
 
  max-width: 80vw;
}
#HomePageContainer .contact-form textarea {
  height: 4rem;
}
#HomePageContainer .contact-header {
  padding: 3vw 2vw 15vw 2vw;
}
}
@media (max-width: 498px) {
  #HomePageContainer .hero-content {
    width: 85%;
    padding-top: 18vw;
  }
  #HomePageContainer .hero-content h3 {
  font-size: 1.2rem;
  }
  #HomePageContainer .hero-content .highlight {
    font-size: 1.3rem;
    margin-top: 0.2rem;
}
#HomePageContainer .nav-links{
  gap: unset;
  padding: 0.3rem 2vw 0.3rem 2vw;
}
#HomePageContainer .nav-links a{
  padding: 0 0.5rem;
  font-size: 0.9rem;
}
#HomePageContainer .hero-content p {
font-size: 0.9rem;
}
#HomePageContainer .top-container{
  margin-bottom: 0;
}
#HomePageContainer .about-section-content {
  width: 97vw;
}
#HomePageContainer .diamond-title {
  font-size: 1.5rem;
}
#HomePageContainer .diamond-subtitle {
  width: 75vw;
  font-size: 0.985rem;
  margin-bottom: 2vh;
}
#HomePageContainer .diamond-card-title{
  font-size: 1.1rem;
}
#HomePageContainer .virtualShowcase-section{
flex-direction: column-reverse;
}
#HomePageContainer .virtualShowcase-section-content{
  width: 90%;
  margin: auto;
  padding-top: 0.5rem;
}
#HomePageContainer .virtualShowcase-content-img{
  margin-left: auto;
}
#HomePageContainer .contact-header h3 {
font-size: 1.5rem;
}
#HomePageContainer .contact-content{
  margin-top: 1rem;
}
#HomePageContainer .contact-content{
  max-width: 90vw;
}
#HomePageContainer .contact-info{
  display: unset;
}
#HomePageContainer .contact-info-box{
  width: 100%;
}
}